.cls-3 {
  pointer-events: none;
  fill: var(--ion-text-color);
}

#PitchCircleSVG {
  margin: 0px;
  width: 90vw;
  height: 90vw;
}

#Container_PitchCircleSVG {
  display: flex;
}

#NonClickablePitchCircleSVG {
  margin: auto;
  width: 95%;
  height: 95%;
}
