#comparator {
  width: 90vw;
  height: 90vw;
}

.st21 {
  fill: var(--color-theme);
}

.st23 {
  font-size: 20px;
}

.divergenceColorOdd {
  background: var(--color-gradient-background);
}

#Texte {
  color: var(--color-contrast);
}
