.st21 {
  fill: var(--color-theme);
  stroke: var(--color-hover);
}

.st23 {
  font-size: 1.25em;
}

#Texte {
  color: var(--color-contrast);
}

.select-label {
  display: block;
  font-size: 0.9rem;
  color: var(--color-contrast);
  opacity: 0.8;
}

.comas-text {
  margin-left: -5%;
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 1px;
  color: var(--color-contrast);
}

.comas-note {
  font-family: "Karla";
  font-style: normal;
  font-weight: bold;
  font-size: 0.1em;
  color: var(--color-contrast);
}

.swiper-container-horizontal .swiper-pagination-bullets {
  bottom: 3em !important;
  opacity: 1 !important;
}

.comma-card {
  height: 70vh;
}

.comma-toggler{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
