.btn-mode {
  margin: 0;
  padding: 0 !important;
  display: flex;
  flex-wrap: nowrap;
}

.btn-mode .btn-mode-bpm,
.btn-mode .btn-mode-hz {
  --background: var(--color-light-grey);
  text-transform: none;
  --box-shadow: var(--color-shadow);
  --color: #738b8a;
  stroke: var(--color-hover);
}

.btn-mode .btn-mode-bpm {
  --border-radius: 500px 0 0 500px;
  width: 40px;
  height: 40px;
}

.btn-mode .btn-mode-hz {
  --border-radius: 0 500px 500px 0;
  width: 40px;
  height: 40px;
}

.btn-mode-bpm.btn-mode-activated,
.btn-mode-hz.btn-mode-activated {
  --background: var(--color-button);
  --box-shadow: inset 1px 1px 3px #0003;
  --color: var(--color-theme);
  stroke: var(--color-theme);
}

#input-a4 {
  padding-left: 0.5rem !important;
  height: 2rem;
  border-radius: 8px;
  font-size: 0.9rem !important;
  text-transform: uppercase;
  color: var(--color-contrast) !important;
  box-shadow: var(--color-shadow);
}

#input-a4 input {
  padding-left: 0;
}

.procedure-nav {
  position: absolute;
  top: 43%;
}

.px-12 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

/* STYLE PIANO */

.pianoKeys {
  fill: var(--color-inner-button);
  stroke: var(--color-dark);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.pianoKeysColored {
  fill: var(--color-check);
  stroke: var(--color-dark);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.pianoKeysActive {
  fill: var(--color-check);
  stroke: var(--color-dark);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
  animation-name: pianoNoteActive;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pianoNoteActive {
  0% {
    fill: var(--color-check);
  }
  50% {
    fill: var(--color-inner-button);
  }
  100% {
    fill: var(--color-check);
  }
}

.pianoBlackKeys {
  fill: var(--color-dark);
  stroke: var(--color-dark);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}

.st0 {
  fill: var(--color-inner-button);
  stroke: var(--color-dark);
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.st1 {
  fill: var(--color-contrast);
}
.st2 {
  font-family: "Karla-Bold";
}
.st3 {
  font-size: 14px;
}


.testHeader {
  min-height: calc(94.6px + (0.5rem));
  max-height: calc(94.6px + (0.5rem));
}