#pitch-circle {
  max-width: calc(55vh - 1rem);
  margin: calc(5vh - 2rem) auto calc(10vh - 4.9rem) auto;
}

.pc-btn-labels {
  pointer-events: none;
  fill: var(--ion-text-color);
}

.pc-label-primary {
  font-size: 18px;
  fill: var(--ion-text-color);
}

.pc-label-secondary {
  font-size: 11px;
  fill: var(--ion-text-color);
}

.pc-label-tertiary {
  font-size: 8.5px;
  fill: var(--color-check);
}

.popover {
  --width: 80vw;
  --max-width: 20rem;
}

.popover * {
  line-height: normal;
  font-size: 1rem;
}

.popover h1 {
  font-size: 1.05rem;
}

.popover h2,
.popover h3,
.popover h4,
.popover b,
.popover strong {
  font-weight: bold;
}

.popover blockquote {
  margin: 0.4rem 0.4rem 0.4rem 0;
  padding-left: 0.4rem;
  border-left: solid 0.2rem #9993;
}
