:root {
  --tempapp-color: linear-gradient(
    90deg,
    rgba(248, 143, 143, 0.9) 0%,
    rgba(255, 192, 159, 1) 47%,
    rgba(255, 224, 177, 1) 100%
  );
  --tempapp-secondary-color: #2ea39b;
  --tempapp-color-rgb: 255, 192, 159;
  --tempapp-color-contrast: #233c3a;
  --tempapp-color-contrast-rgb: 0, 0, 0;
  --tempapp-color-shade: #ffc09f;
  --tempapp-color-tint: #ffc09f;
}

body.dark {
  --tempapp-color: linear-gradient(
    284.08deg,
    #45cbc7 -17.13%,
    #2ea39b 15.16%,
    #a3719d 92.68%
  );
  --tempapp-color-rgb: 56, 163, 155;
  --tempapp-color-contrast: #f5fbfb;
  --tempapp-color-contrast-rgb: 0, 0, 0;
  --tempapp-color-shade: #2ea39b;
  --tempapp-color-tint: #2ea39b;
}

.ion-color-temperapp {
  --ion-color-base: var(--tempapp-color);
  --ion-color-base-rgb: var(--tempapp-color-rgb);
  --ion-color-contrast: var(--tempapp-color-contrast);
  --ion-color-contrast-rgb: var(--tempapp-color-contrast-rgb);
  --ion-color-shade: var(--tempapp-color-shade);
  --ion-color-tint: var(--tempapp-color-tint);
}

.btn-primary {
  text-transform: capitalize;
  --padding-top: 1.5em;
  --padding-bottom: 1.5em;
  --border-radius: 8px;
  letter-spacing: -0.02em;
}

.btn-primary.secondary {
  min-width: 80px;
  margin-bottom: 10px;
  filter: invert() brightness(1.4) saturate(0.7);
  opacity: 0.8;
}