.modal-fullscreen {
  --width: 90%;
  --height: 95%;
  --border-radius: 8px;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0) !important;
  background: var(--color-gradient-background) !important;
  --box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}
