/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/* Fonts */
@import "./fonts/Karla.css";
@import "./fonts/Nunito.css";

:root {
  --ion-font-family: "Karla", sans-serif;
  --font: "Nunito Sans";
}

/** Ionic CSS Variables **/
:root {
  --color-selected: #233c3a;
  --color-grey: #a7c5c3;
  --color-hover: #6e8c8b;
  --color-strong: #ffae7a;
  --color-sec: #ffc09f;
  --color-gradient: linear-gradient(
    272.37deg,
    #ffe0b1 17.29%,
    #ffc09f 72.76%,
    #f88f8f 132.71%
  );
  --color-gradient-background: linear-gradient(
    272.37deg,
    rgba(255, 224, 117, 0.5) 17.29%,
    rgba(255, 192, 159, 0.5) 72.76%,
    rgba(248, 143, 143, 0.5) 132.71%
  );
  --color-gradient-circle: linear-gradient(
    144.2deg,
    #ffe0b1 0%,
    #ffc09f 43.94%,
    rgba(248, 143, 143, 0.87) 98.99%
  );
  --color-button: #2ea39b;
  --color-inner-button: #f5fbfb;
  --color-theme: #f5fbfb;
  --color-contrast: #233c3a;
  --color-light-grey: rgba(115, 139, 138, 0.25);

  --color-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);

  --ion-background-color: #f5fbfb;
  --ion-toolbar-background: #f5fbfb;
  --ion-tab-bar-color: #a7c5c3;

  /** primary **/

  --ion-color-primary: #2ea39b;
  --ion-color-primary-rgb: 46, 163, 155;
  --ion-color-primary-contrast: #233c3a;
  --ion-color-primary-contrast-rgb: 35, 60, 58;
  --ion-color-primary-shade: #45cbc7;
  --ion-color-primary-tint: #45cbc7;

  --legend-gradient-fifth: linear-gradient(0.01deg, #6D9693 0.01%, #8CAEAB 5.79%, #9AB9B7 9.27%, #ABC9C7 13.43%, #B6D4D2 16.15%, #BFDDDB 19.19%, #CCE9E7 20.56%, #F5FBFB 22.37%, #F5FBFB 24.37%, #FF8352 29.57%, #FF7A4C 35.38%, #FF6F46 40.33%, #FF623E 46.79%, #FF5435 53.68%, #FF321F 61.86%, #FB3230 68.53%, #F33151 76.71%, #ED306A 83.16%, #D72F6A 89.19%, #C32D69 94.57%, #9D2A68 101.67%);
  --legend-gradient-third: linear-gradient(180deg, #F5FBFB 0%, #F8F3E4 3.93%, #FAECD1 7.16%, #FFDDA7 11.86%, #FFC984 18.28%, #FFBB75 23.08%, #FFAA6B 27.39%, #FF8B57 32.99%, #FF8352 38.15%, #FF7E4F 42.89%, #FF7A4C 47.41%, #FF6C44 52.36%, #FF603C 56.88%, #FF5535 60.97%, #FF492E 65.38%, #FB423C 69.58%, #F63B4B 73.88%, #F03060 79.87%, #E9307D 85.08%, #D32E77 89.38%, #B92C70 94.55%, #9D2A68 100%);

  --quinte-color-12: #9D2A68;
  --quinte-color-11: #C32D69;
  --quinte-color-10: #D72F6A;
  --quinte-color-9: #ED306A;
  --quinte-color-8: #F33151;
  --quinte-color-7: #FB3230;
  --quinte-color-6: #FF321F;
  --quinte-color-5: #FF5435;
  --quinte-color-4: #FF623E;
  --quinte-color-3: #FF6F46;
  --quinte-color-2: #FF7A4C;
  --quinte-color-1: #FF8352; /*égal*/
  --quinte-color0: #CCE9E7;
  --quinte-color1: #CCE9E7;
  --quinte-color2: #BFDDDB;
  --quinte-color3: #B6D4D2;
  --quinte-color4: #ABC9C7;
  --quinte-color5: #9AB9B7;
  --quinte-color6: #8CAEAB;
  --quinte-color7: #6D9693;
  --quinte-default: #6D9693;

  --tierce-color0: #F8F3E4;
  --tierce-color1: #FAECD1;
  --tierce-color2: #FFDDA7;
  --tierce-color3: #FFC984;
  --tierce-color4: #FFBB75;
  --tierce-color5: #FFAA6B;
  --tierce-color6: #FF8B57;
  --tierce-color7: #FF8352;  /*égal*/
  --tierce-color8: #FF7E4F;
  --tierce-color9: #FF7A4C;
  --tierce-color10: #FF6C44;
  --tierce-color11: #FF603C;
  --tierce-color12: #FF5535;
  --tierce-color13: #FF492E;
  --tierce-color14: #FB423C;
  --tierce-color15: #F63B4B;
  --tierce-color16: #F03060;
  --tierce-color17: #E9307D;
  --tierce-color18: #D32E77;
  --tierce-color19: #B92C70;
  --tierce-color20: #9D2A68;
  --tierce-default: #B9B9B9;
}

/*
  * Dark Colors
  * -------------------------------------------
*/

body.dark {
  --color-selected: #f5fbfb;
  --color-grey: #738b8a;
  --color-hover: #1f3030;
  --color-strong: #2ea39b;
  --color-sec: #a3719d;
  --color-gradient: linear-gradient(
    284.08deg,
    #45cbc7 -17.13%,
    #2ea39b 15.16%,
    #a3719d 92.68%
  );
  --color-gradient-background: linear-gradient(
    272.37deg,
    rgba(69, 203, 199, 0.5)-17.13%,
    rgba(46, 163, 155, 0.5) 15.16%,
    rgba(163, 113, 157, 0.5) 92.68%
  );
  --color-gradient-circle: linear-gradient(
    144.2deg,
    #45cbc7 0%,
    #2ea39b 43.94%,
    #a3719d 98.99%
  );
  --color-button: #45cbc7;

  --color-theme: #233c3a;
  --color-contrast: #f5fbfb;

  --color-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);

  --ion-background-color: #233c3a;
  --ion-toolbar-background: #233c3a;
  --ion-tab-bar-color: #a7c5c3;

  --ion-color-primary: #45cbc7;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #f5fbfb;
  --ion-color-primary-contrast-rgb: 245, 251, 251;
  --ion-color-primary-shade: #2ea39b;
  --ion-color-primary-tint: #2ea39b;

  --legend-gradient-fifth: linear-gradient(360deg, #4A7370 0.32%, #5C807E 3.35%, #6B8C89 6.11%, #7E9C9A 8.74%, #97B2B0 11.22%, #AEC7C5 13.36%, #C2D8D7 15.16%, #DAEEED 16.95%, #EDF7F6 18.68%, #FFFFFF 20.61%, #FFFFFF 22.34%, #EF7FDD 27.4%, #E86DD5 35.61%, #E05BCD 43.85%, #DB4EC7 50.67%, #D640C1 57.69%, #CB3DC5 65.32%, #BD4CC5 71.05%, #B158C5 75.21%, #A763C5 80.42%, #9E6CC5 86.17%, #9675C6 92.19%, #8587C6 97.89%);
  --legend-gradient-third: linear-gradient(359.94deg, #2EA39B -17.99%, #45CBC7 -11.96%, #5DACC2 -3.8%, #758EBE 2.39%, #817FBC 5.48%, #8679BB 8.35%, #8A73BA 11.22%, #906CB9 14.62%, #9C5DB7 18.44%, #A64FB5 21.94%, #B248B8 25.04%, #BC41BB 29.39%, #C939BF 32.76%, #E149CD 38.02%, #E65CD3 43.74%, #EE76DB 49.34%, #EF7FDD 54.07%, #F39EE5 60%, #F4A8E8 66.7%, #F5B1EA 71.7%, #F7BBED 75.63%, #F8C9F1 80.2%, #FAD3F3 84.34%, #FBDDF6 88.61%, #FFFFFF 95.19%, #FFFFFF 101.12%);

  --quinte-color-12: #8587C6;
  --quinte-color-11: #9675C6;
  --quinte-color-10: #9E6CC5;
  --quinte-color-9: #A763C5;
  --quinte-color-8: #B158C5;
  --quinte-color-7: #BD4CC5;
  --quinte-color-6: #CB3DC5;
  --quinte-color-5: #D640C1;
  --quinte-color-4: #DB4EC7;
  --quinte-color-3: #E05BCD;
  --quinte-color-2: #E86DD5;
  --quinte-color-1: #EF7FDD; /*égal*/
  --quinte-color0: #C2D8D7;
  --quinte-color1: #C2D8D7;
  --quinte-color2: #AEC7C5;
  --quinte-color3: #97B2B0;
  --quinte-color4: #7E9C9A;
  --quinte-color5: #6B8C89;
  --quinte-color6: #5C807E;
  --quinte-color7: #4A7370;
  --quinte-default: #4A7370;

  --tierce-color0: #FBDDF6;
  --tierce-color1: #FAD3F3;
  --tierce-color2: #F8C9F1;
  --tierce-color3: #F7BBED;
  --tierce-color4: #F5B1EA;
  --tierce-color5: #F4A8E8;
  --tierce-color6: #F39EE5;
  --tierce-color7: #EF7FDD; /*égal*/
  --tierce-color8: #EE76DB;
  --tierce-color9: #E65CD3;
  --tierce-color10: #E149CD;
  --tierce-color11: #C939BF;
  --tierce-color12: #BC41BB;
  --tierce-color13: #B248B8;
  --tierce-color14: #A64FB5;
  --tierce-color15: #9C5DB7;
  --tierce-color16: #906CB9;
  --tierce-color17: #8A73BA;
  --tierce-color18: #8679BB;
  --tierce-color19: #817FBC;
  --tierce-color20: #758EBE;
  --tierce-default: #B9B9B9;
}

/*
  * iOS Dark Theme
  * -------------------------------------------
  */

.ios body.dark {
  --ion-background-color: #233c3aff;
  --ion-background-color-rgb: 35, 60, 58;

  --ion-text-color: #f5fbfb;
  --ion-text-color-rgb: 245, 251, 251;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: var(--ion-background-color);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-card-background: var(--ion-background-color);
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}

.ios body.dark ion-modal {
  --ion-background-color: #233c3aff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-border-color: var(--ion-background-color);
}

/*
  * Material Design Dark Theme
  * -------------------------------------------
  */

.md body.dark {
  --ion-background-color: #233c3aff;
  --ion-background-color-rgb: 35, 60, 58;

  --ion-text-color: #f5fbfbff;
  --ion-text-color-rgb: 245, 251, 251;

  --ion-border-color: #233c3aff;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: var(--ion-background-color);

  --ion-toolbar-background: var(--ion-background-color);

  --ion-tab-bar-background: var(--ion-background-color);

  --ion-card-background: var(--ion-background-color);
}
