/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --color-selected: #233c3a;
  --color-grey: #a7c5c3;
  --color-hover: #738b8a;
  --color-strong: #ffae7a;
  --color-sec: #ffc09f;
  --color-gradient: linear-gradient(
    272.37deg,
    #ffe0b1 17.29%,
    #ffc09f 72.76%,
    #f88f8f 132.71%
  );
  --color-button: #2ea39b;
  --color-theme: #f5fbfb;
  --color-contrast: #233c3a;
  --color-light-grey: rgba(115, 139, 138, 0.4);

  --ion-background-color: #f5fbfb;
  --ion-toolbar-background: #f5fbfb;
  --ion-tab-bar-color: #a7c5c3;

  /** primary **/
  --ion-color-primary: #233c3a;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #f5fbfb;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --font: "Nunito Sans";
}

/*
  * Dark Colors
  * -------------------------------------------
*/

body.dark {
  --color-selected: #f5fbfb;
  --color-grey: #738b8a;
  --color-hover: #a7c5c3;
  --color-strong: #2ea39b;
  --color-sec: #a3719d;
  --color-gradient: linear-gradient(
    284.08deg,
    #45cbc7 -17.13%,
    #2ea39b 15.16%,
    #a3719d 92.68%
  );
  --color-button: #45cbc7;

  --color-theme: #233c3a;
  --color-contrast: #f5fbfb;

  --ion-background-color: #233c3a;
  --ion-toolbar-background: #233c3a;
  --ion-tab-bar-color: #a7c5c3;

  --ion-color-primary: #428cff;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;
}

/*
  * iOS Dark Theme
  * -------------------------------------------
  */

.ios body.dark {
  --ion-background-color: #233c3aff;
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-item-background: var(--ion-background-color);
  --ion-toolbar-background: var(--ion-background-color);
  --ion-card-background: var(--ion-background-color);
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}

.ios body.dark ion-modal {
  --ion-background-color: #233c3aff;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-toolbar-border-color: var(--ion-background-color);
}

/*
  * Material Design Dark Theme
  * -------------------------------------------
  */

.md body.dark {
  --ion-background-color: #233c3aff;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #233c3aff;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --ion-item-background: var(--ion-background-color);

  --ion-toolbar-background: var(--ion-background-color);

  --ion-tab-bar-background: var(--ion-background-color);

  --ion-card-background: var(--ion-background-color);
}

/* FONTS */

@font-face {
  font-family: "Nunito Sans";
  font-style: bold, uppercase;
  font-weight: 300;
  src: "./assets/fonts/NunitoSans-SemiBold.ttf";
}

/* TODO local download */
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
