.fill-dark-2 {
  fill: #2ea39b;
}

.fill-2 {
  fill: #45cbc7;
}

.fill-dark-1 {
  fill: var(--color-strong);
}

.fill-1 {
  fill: var(--color-sec);
}

.line-legend-comparator {
  fill: none;
  stroke: var(--color-contrast);
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.color-legend-theme {
  fill: var(--color-contrast);
}
