.ColTemperApp {
  text-align: center;
}

.wave {
  z-index: 0;
}

.parameter-button {
  margin: 5%;
  height: 24px;
  width: 20px;
  margin-top: 50%;
  color: var(--color-constrast);
}

.parameter-options {
  margin-top: 5%;
}
