.item-icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  background-image: var(--color-gradient-circle);
  border-radius: 100px;
}

.item-label {
  font-size: 1.1rem;
  text-transform: none;
  color: var(--color-contrast);
}

/*Composants avec boites*/
.learn-box {
  background: var(--color-theme);
  box-shadow: var(--color-shadow);
  border-radius: 8px;
  padding: 5px 10px 15px 10px;
  margin: 16px 0 28px 0;
}

.learn-resources-btn {
  text-transform: capitalize;
  --border-radius: 8px;
  --padding-top: 1.8em;
  --padding-bottom: 1.8em;
  --box-shadow: var(--color-shadow);
  margin-bottom: 25px;
  font-size: 14px;
  white-space: normal;
}

.learn-ressources-not-btn {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 14px;
}

/*important for align text in ressource buttons*/
span.ion-text-left {
  margin-right: auto;
}

ion-button.learn-resources-btn::part(native) {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03rem;
  color: var(--color-contrast);
  --padding-start: 1em !important;
  --padding-end: 1em !important;
  background: var(--color-theme);
  color: var(--color-contrast);
}

.learn-element {
  /*element : diagramme ou svg */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* TODO Refactor with PageModal */
.learn {
  overflow-y: scroll;
}

.learn > *:first-child {
  margin-top: 0;
}

.learn h2,
.learn h3,
.learn h4,
.learn h5 {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 19px;
  color: var(--color-contrast);
}
.learn h2 {
  font-family: var(--ion-family-font);
  font-weight: normal;
  line-height: 19px;
  color: var(--color-contrast);
  font-size: 1.1rem;
  margin: 1rem 0 0.2rem 0;
}

.learn h3 {
  font-size: 1.02rem;
  margin: 0.8rem 0 0.2rem 0;
}

.learn h4 {
  font-size: 0.9rem;
  margin: 0.8rem 0 0.2rem 0;
  font-weight: 800;
}

.learn h5 {
  font-size: 0.82rem;
  margin: 0.8rem 0 0.2rem 0;
  font-weight: 800;
  font-style: italic;
}

.learn p {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: normal;
  margin: 0 0 0.5rem 0;
  font-size: 0.95rem;
  line-height: 1.3rem;
  color: var(--color-contrast);
}
