.learn-button {
  width: 80px;
  height: 80px;
  margin-left: 8vw;
  margin-top: 3vh;
  --background: var(--color-strong);
  --border-radius: 100px;
}

.learn-button-text {
  --color: var(--color-dark);
  margin-left: 32vw;
  border: none;
  --background: transparent;
}
