.item-icon {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  background-image: var(--color-gradient-circle);
  border-radius: 100px;
}

.item-label {
  font-size: 1.1rem;
  text-transform: none;
  color: var(--color-contrast);
}

/*Composants avec boites*/
.learn-box {
  background: var(--background);
  box-shadow: var(--color-shadow);
  border-radius: 8px;
  padding: 5px 10px 15px 10px;
  margin: 16px 0 28px 0;
}

.learn-resources-btn {
  text-transform: capitalize;
  --padding-top: 1.5em;
  --padding-bottom: 1.5em;
  --border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
  --box-shadow: var(--color-shadow);
}

.learn-element {
  /*element : diagramme ou svg */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* TODO Refactor with PageModal */
.learn {
  overflow-y: scroll;
}

.learn > *:first-child {
  margin-top: 0;
}

.learn h2,
.learn h3,
.learn h4,
.learn h5 {
  line-height: normal;
  font-size: 1rem;
  font-weight: 700;
}
.learn h2 {
  font-size: 1.1rem;
  margin: 1rem 0 0.2rem 0;
}

.learn h3 {
  font-size: 1.02rem;
  margin: 0.8rem 0 0.2rem 0;
}

.learn h4 {
  font-size: 0.9rem;
  margin: 0.8rem 0 0.2rem 0;
  font-weight: 800;
}

.learn h5 {
  font-size: 0.82rem;
  margin: 0.8rem 0 0.2rem 0;
  font-weight: 800;
  font-style: italic;
}

.learn p {
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1.3rem;
  color: var(--color-contrast);
}
