.subTitle {
  margin-top: -5px;
}

/*equivalent LearnParagraph */
.SheetParagraph {
  margin: -20px 0 30px 0;
}

/*equivalent LearnParagraph */
.SheetContent {
  margin: 5px 20px 100px 20px;
}

.circleSheet {
  padding: 0 15px 0 15px;
}

.SheetMarquePage {
  text-align: right;
}
