@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

.rc-collapse {
  border: 0px !important;
  margin-top: 10px;
  background: var(--ion-background-color);
}
.rc-collapse-item {
  border-top: 0px !important;
  background: var(--ion-background-color);
}
.rc-collapse-item-active {
  border: 0px !important;
  background: var(--ion-background-color);
}

.rc-collapse-content {
  padding: 0 0.5em 0 0.5em !important;
  background: var(--ion-background-color);
}

.my-header-class {
  font-family: "Nunito Sans", sans-serif;
  color: var(--ion-text-color) !important;
  text-transform: uppercase;
  font-size: 16px;
  background: var(--ion-background-color);
  border-top: 0px !important;
}
