.ParameterModal {
  --width: 90%;
  --height: 95%;
  --border-radius: 8px;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0) !important;
  background-image: linear-gradient(
    90deg,
    rgba(248, 143, 143, 1) 0%,
    rgba(255, 192, 159, 1) 47%,
    rgba(255, 224, 177, 1) 100%
  ) !important;
  --box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}
.parameterContent {
  padding: 10px 30px 10px 30px;
}

.ColTemperApp {
  text-align: center;
}

h3 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #233c3a;
}
