#note {
  width: 50px;
  height: 50px;
  background-color: grey;
  border: 1px solid yellow;
}

#PitchContainer {
  background-color: orange;
  margin-top: 0px;
}

#TunerContainer {
  background-color: purple;
}

.PitchActive {
  background-color: red !important;
}

.OctaveActive {
  background-color: blue !important;
}

.BpmPitchActive {
  background-color: orange !important;
}

.BpmOctaveActive {
  background-color: green !important;
}