/* TEXTS */

ion-title,
.pm-header h1,
h1 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-contrast);
}

.pm-content h2,
.ph-titles h2,
h2 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-contrast);
  margin-top: 0;
}

.pm-titles h3,
.ph-titles h3,
h3,
.item-label {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--color-contrast);
  margin-bottom: 0;
}

.pm-content h4,
h4 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--color-contrast);
  margin-bottom: 3%;
}

.pm-content h5,
h5 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--color-contrast);
}

.pm-content p,
p {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-contrast);
}

.p-long,
ul {
  font-family: var(--ion-family-font);
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: 20px;
  padding-bottom: 7px;
  color: var(--color-contrast) !important;
  opacity: 1 !important;
  text-align: justify;
  text-justify: inter-word;
}

.p-legend {
  font-family: var(--ion-family-font);
  font-style: normal !important;
  font-weight: 300 !important;
  font-size: 11px !important;
  line-height: 20px;
  padding-bottom: 7px;
  color: var(--color-contrast) !important;
  opacity: 1 !important;
  text-align: center;
  text-justify: inter-word;
}

strong {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-contrast);
}

hr {
  height: 5px;
  width: 100%;
  margin: 0 0 0 3.5rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: var(--color-gradient) !important;
  background-position: left 0px top 0px !important;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin-left: -2em;
}

/* TAB-BAR */

ion-tab-bar {
  width: 100%;
  min-height: 9vh;
  display: flex;
  align-self: center;
  box-shadow: var(--color-shadow);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

ion-tab-bar ion-label {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem; /* TODO Check: c'est vraiment petit */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-contrast);
  margin-top: 7px;
}

ion-tab-button {
  width: 48px;
  padding: none;
}

ion-tab-button:hover ion-label {
  color: var(--color-hover);
}

ion-icon.icon-grey {
  fill: var(--color-grey);
  stroke: var(--color-grey);
}

.tab-selected ion-icon {
  fill: var(--color-contrast);
  stroke: var(--color-contrast);
}

.tab-selected ion-label {
  font-weight: 800;
}

/* HEADER */

.btn-header-modal {
  background-color: var(--color-sec);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
}

.btn-header-modal span {
  margin: auto;
  color: var(--color-theme);
  font-size: 20px;
}

.header-title {
  margin-top: 2rem;
}

.headerPages {
  height: 5rem;
}

/* SELECT BOX */

.select-text {
  background: var(--color-theme);
  border-radius: 8px;
}

.label {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}

ion-select {
  box-shadow: var(--color-shadow);
  border-radius: 8px;
  width: 40vw;
  height: 2rem;
}

ion-select::part(text) {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-contrast);
  margin-top: 0;
  font-size: 0.8rem;
  line-height: 19px;
}

ion-select::part(placeholder) {
  --placeholder-font-family: "Nunito";
  --placeholder-font-style: normal;
  --placeholder-font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 19px;
  --placeholder-color: var(--color-hover);
  color: var(--color-contrast);
}

/* FIXED BUTTON */

.grid-button-bottom {
  position: fixed;
  bottom: 80px;
  width: 90%;
  margin: auto;
  height: 50px;
  align-items: center;
}

.btn-round {
  --border-radius: 100px;
  width: 48px;
  height: 48px;
  --background: var(--color-button);
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: var(--color-shadow);
}

ion-button.no-ripple {
  --ripple-color: transparent;
}

ion-button .button-native {
  --padding-end: 0 !important;
  --padding-start: 0 !important;
}

ion-button::part(native) {
  --padding-end: 0 !important;
  --padding-start: 0 !important;
  --padding-inline-end: 0 !important;
  --padding-inline-start: 0 !important;
}

ion-button:disabled {
  --background: var(--color-light-grey) !important;
  --box-shadow: none !important;
}

/* ELEMENTS */

.modal-fullscreen {
  --width: 90%;
  --height: 95%;
  --border-radius: 8px;
  --backdrop-opacity: var(--ion-backdrop-opacity, 0) !important;
  background: var(--color-gradient-background) !important;
  --box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
}

ion-searchbar .searchbar-input-container .searchbar-input {
  /* TODO Find a better way */
  background-color: var(--ion-background-color);
  box-shadow: var(--color-shadow);
  border-radius: 8px;
  text-transform: uppercase;
}

ion-card {
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 5%;
  box-shadow: var(--color-shadow);
}

.commaCard {
  height: 472px;
  margin-bottom: 40px;
}

ion-toggle {
  --background-checked: var(--color-button);
  --handle-background-checked: var(--color-grey);
  --background: var(--color-grey);
  --handle-background: var(--color-inner-button);
}

ion-input {
  font-size: 0.9rem !important;
  border-radius: 8px;
  height: 2rem;
  color: var(--color-contrast) !important;
  box-shadow: var(--color-shadow);
  font-family: "Karla" !important;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 1rem !important;
}

ion-input.sc-ion-input-ios-h {
  padding-left: 0.5rem !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield !important;
}

.katex-display {
  overflow: scroll hidden;
  padding: 15px 0 15px 0;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.color-gradient-bg {
  background: var(--color-gradient-background);
}

.ion-justify-content-between {
  margin-top: 5%;
  margin-bottom: 6px;
}

.page-header{
  margin-top: var(--ion-safe-area-top);
}
