ion-title,
h1 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 2vh;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

h2 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

h3 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

h4 {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-dark);
}

h5 {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: var(--color-dark);
}

p {
  font-family: var(--ion-family-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--color-dark);
}

ion-header::after {
  position: relative;
  bottom: 5px;
  height: 5px;
  width: 100vw;
  margin-left: 15vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: var(--degrade) !important;
  background-position: left 0px top 0px !important;
  z-index: 100;
}

ion-tab-bar {
  width: 100%;
  min-height: 9vh;
  display: flex;
  align-self: center;
  box-shadow: inset 0px 1px 4px rgba(21, 37, 37, 0.16);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

ion-label {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 7px; /* TODO Check: c'est vraiment petit */
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-dark);
  margin-top: 7px;
}

ion-tab-button {
  width: 48px;
  padding: none;
}

ion-tab-button:hover ion-label {
  color: var(--color-hover);
}

ion-tab-button:hover ion-icon {
  fill: var(--color-hover);
  stroke: var(--color-hover);
}

ion-icon.icon-light {
  fill: var(--color);
  stroke: var(--color);
  height: 24px;
}

.tab-selected ion-icon {
  fill: var(--color-selected);
  stroke: var(--color-selected);
}

.tab-selected ion-label {
  font-weight: 600;
}

.btn-header-modal {
  background-color: var(--color-strong);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
}

.btn-header-modal span {
  margin: auto;
  color: var(--background-color);
  font-size: 20px;
}

.select-text {
  background: var(--background-color);
  border-radius: 8px;
}

.label {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}

#ion-sel-0-lbl {
  --box-shadow: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
}
