/* TODO Refactor with PageModal */
.sheet {
  overflow-y: scroll;
}

.sheet > *:first-child {
  margin-top: 0;
}

.sheet h5 {
  font-size: 0.82rem;
  margin: 0.8rem 0 0.2rem 0;
  font-weight: 800;
  font-style: italic;
}

.sheet p {
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  font-size: 0.95rem;
  line-height: 1.3rem;
  color: var(--color-contrast);
}

.commas-font {
  margin-left: -5%;
  font-family: "Karla";
  font-style: normal;
  font-weight: normal;
  font-size: 1px;
  color: var(--color-contrast);
}

.quality-wheel {
  font-size: 18px;
}